$primary-text-color: #323232;
$primary-background-color: #f4f4ea;
$secondary-background-color: #c8f1d7;
$tertiary-background-color: #f9fcf7;
$font-weights: (
	"regular": 400,
	"demi": 600,
	"bold": 700,
);
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
