$primary-text-color: #323232;
$secondary-text-color: #ffff;
$primary-background-color: #f4f4ea;
$secondary-background-color: #ffc7ea;
$tertiary-background-color: #f1ecda;
$font-weights: (
	"regular": 400,
	"semi": 600,
	"bold": 700,
);
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
