@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.search-recipe {
	&__options {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		gap: 1rem;
	}

	&__results {
		height: 40vh;
		width: 70%;
		margin: auto;
		overflow: auto;
		background-color: white;
		padding: 1rem 0;
	}

	&__results ul {
		list-style: none;
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding-bottom: 1rem;
		gap: 1rem;
	}

	&__image {
		display: flex;
		width: 7.5rem;
		height: 4.375rem;
		border-radius: 8px;
		justify-content: flex-end;
		object-fit: cover;
		cursor: pointer;
	}

	&__image img {
		border-radius: 8px;
	}
}
