@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: $tertiary-background-color;

	@include desktop {
		align-items: flex-start;
	}

	&__header {
		padding-bottom: 1rem;

		@include desktop {
			padding-left: 2rem;
		}
	}

	&__icons {
		display: flex;
		justify-content: center;
		padding: 1rem 0;
		gap: 15px;

		@include tablet {
			gap: 50px;
		}

		@include desktop {
			gap: 30px;
		}
	}

	&__icons img {
		width: 30px;
		height: 30px;
	}
}
